@page "/chats/view/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager
<h3>View Chat</h3>
<style>
    h3 {
        color: aliceblue;

    }

    body {
        background-color: hotpink;
    }
</style>
<FormComponent chat="chat" Disabled="true" />

@code {
    [Parameter] public int id { get; set; }
    Chat chat = new Chat();
    protected async override Task OnParametersSetAsync()
    {
        chat = await
        _client.GetFromJsonAsync<Chat>($"{Endpoints.ChatsEndpoint}/{id}");
    }
}

