@page "/matchs/create"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Create Match</h3>
<style>
    h3 {
        color: aliceblue;

    }

    body {
        background-color: hotpink;
    }
</style>
<hr />
<br />

<FormComponent ButtonText="Create Match" match="match" OnValidSubmit="@CreateMatchs" />
@code {
    Match match = new Match();

    private IList<UserDetail> UserDetails;

    protected async override Task OnInitializedAsync()
    {
        UserDetails = await _client.GetFromJsonAsync<List<UserDetail>>($"{Endpoints.UserDetailsEndpoint}");
    }
    private async Task CreateMatchs()
    {
        await _client.PostAsJsonAsync(Endpoints.MatchsEndpoint, match);
        _navManager.NavigateTo("/matchs/");

    }

}
