@page "/matchs/view/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3>View Match</h3>
<style>
    h3 {
        color: aliceblue;

    }

    body {
        background-color: hotpink;
    }
</style>
<FormComponent match="match" Disabled="true" />
@code {
    [Parameter] public int id { get; set; }
    Match match = new Match();
    protected async override Task OnParametersSetAsync()
    {
        match = await _client.GetFromJsonAsync<Match>($"{Endpoints.MatchsEndpoint}/{id}");
    }

}
