@page "/"

<h1>Eternal Love</h1>

<p>Find your love here.</p>

<p><img src="https://img.freepik.com/free-photo/beautiful-valentine-s-day-concept-with-roses_23-2148752574.jpg?w=2000" width = "500" height = "500"></p>

<p><a href="authentication/profile">Register Here`</a></p>
<p><a href="authentication/login">Login Here</a></p>
