@page "/"

<h1>Eternal Love</h1>

<h3>Find your love here.</h3>
<style>
    h1,h3 {
        color: aliceblue;
    }

    body {
        background-color: hotpink;
    }
</style>
<p><img src="https://img.freepik.com/free-photo/beautiful-valentine-s-day-concept-with-roses_23-2148752574.jpg?w=2000" width = "500" height = "500"></p>

