@page  "/reviews/create/"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Create New Review</h3>
<style>
    h3 {
        color: aliceblue;

    }

    body {
        background-color: hotpink;
    }
</style>
<hr />
<br />

<FormComponent ButtonText="Create Review" review="review" OnValidSubmit="@CreateReview" />
@code {
    Review review = new Review();

    private async Task CreateReview()
    {
        await _client.PostAsJsonAsync(Endpoints.ReviewsEndpoint, review);
        _navManager.NavigateTo("/reviews/");

    }
}